<% layout('boilerplate')%>

<h3>Clan Members</h3>
<form action="/myClan" method="POST" class="validated-form">
    <button class="btn btn-success">Get</button>
</form>

<form action="/myClan?_method=PUT" method="POST">
    <button class="btn btn-success">Update</button>
</form>