<div
      class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column"
      id="sidebar"
    >
    <div class="flex-shrink-0">
      <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom text-white">
        <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-5 fw-semibold">部落冲突<br>工具箱</span>
      </a>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
            首页
          </button>
          <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="/" class="link-dark rounded text-white">主页</a></li>
              <li><a href="/myClan" class="link-dark rounded text-white">部落成员</a></li>
              <li><a href="/myClan/history" class="link-dark rounded text-white">过往成员</a></li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#clanGame-collapse" aria-expanded="false">
            部落竞赛记录
          </button>
          <div class="collapse" id="clanGame-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" class="link-dark rounded text-white">TBD</a></li>
              <li><a href="#" class="link-dark rounded text-white">TBD</a></li>
              <li><a href="#" class="link-dark rounded text-white">TBD</a></li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#clanWar-collapse" aria-expanded="false">
            部落战记录
          </button>
          <div class="collapse" id="clanWar-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="/video/collect" class="link-dark rounded text-white">TBD</a></li>
              <li><a href="/video/collect" class="link-dark rounded text-white">TBD</a></li>
              <li><a href="/video/collect" class="link-dark rounded text-white">TBD</a></li>
              <li><a href="/video/collect" class="link-dark rounded text-white">TBD</a></li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#clanLeagueWar-collapse" aria-expanded="false">
              部落对战联赛记录
            </button>
            <div class="collapse" id="clanLeagueWar-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="/warLeague/recentoneWarLeague" class="link-dark rounded text-white">最近一月</a></li>
                <li><a href="/warLeague/recenttwoWarLeague" class="link-dark rounded text-white">最近二月</a></li>
                <li><a href="/warLeague/recentthreeWarLeague" class="link-dark rounded text-white">最近三月</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#box-collapse" aria-expanded="true">
              工具栏
            </button>
            <div class="collapse show" id="box-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="/video/collect" class="link-dark rounded text-white">部落战视频收集</a></li>
                <li><a href="https://www.cocservice.top/update/" target="_blank" rel="noopener noreferrer" class="link-dark rounded text-white">部落冲突升级数据</a></li>
                <li><a href="https://www.yuque.com/books/share/7a36c5ba-3c5e-492b-82c6-38fa813f9367" target="_blank" rel="noopener noreferrer" class="link-dark rounded text-white">晴天阵型收集</a></li>
              </ul>
            </div>
      </ul>

      <span href="#" class="nav-link h4 w-100 mb-5">
        <a href=""><i class=""></i></a>
        <a href=""><i class=""></i></a>
        <a href=""><i class=""></i></a>
      </span>
    </div>
    </div>
